<!DOCTYPE html> 
<html>
    <head>
    	{% load jsonify %}
    	<style>
    		.align-right { 
    			text-align: right;
    		}

    		.table { 
    			margin-left: 120px;
    		}
    	</style>
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script>
			var res = "{{ json_response }}"
			res = JSON.parse(res.replace(/&quot;/g,'"'));
			function getTheLowestAsks() { 
				var quantity = 8;
				var subtotal = 0;
				var lastIndex = 0;
				var quantityTotal = 0;
				//console.log("length is ", askArr.length);
				var askArr = res['asks'];
				for (var i = 0; i < askArr.length; i++) {
					while (quantity > 0) {
						if (i == askArr.length) 
							break;
						
						quantityTotal += parseFloat(askArr[i][1]) ;
						quantity -= parseFloat(askArr[i][1]) ;
						subtotal += parseFloat(askArr[i][0])  * parseFloat(askArr[i][1]) ;
						
						lastIndex = i;
					}
				}
				if (quantity < 0) {
					quantityTotal -= parseFloat(askArr[lastIndex][1]);
					
					quantity += parseFloat(askArr[lastIndex][1]);
					
					subtotal -= parseFloat(askArr[lastIndex][0]) * parseFloat(askArr[lastIndex][1]);
					
					subtotal += parseFloat(askArr[lastIndex][0]) * quantity;
					
					quantityTotal += quantity;
				} 
				if (quantity > 0) {
					$("#error_message").append("Invalid quantity")
				}
				
				var total = subtotal/quantityTotal;
				
				$("#subtotal").append(total);
			}

			function getTheHighestBids() { 
				var quantity = $("#quantity").value();
				var subtotal = 0;
				var lastIndex = 0;
				var quantityTotal = 0;
				for (var i = 0; i < bidsArr.length; i++) {
					while (quantity > 0) {
						if (i == askArr.length) 
							break;
						quantityTotal += askArr[i][1];
						quantity -= askArr[i][1];
						subtotal += askArr[i][0] * askArr[i][1];
						lastIndex = i;
					}
				}
				if (quantity < 0) {
					quantityTotal -= askArr[i][1];
					quantity += askArr[lastIndex][1];
					subtotal -= askArr[lastIndex][0] * askArr[lastIndex][1];
					subtotal += askArr[lastIndex][0] * quantity;
					quantityTotal += quantity;
				}
				if (quantity > 0) {
					alert("Invalid quantity")
				}
				

			}
			function getComission() { 
				var subtotal = $("#subtotal").html();
				$("#commission").append(subtotal * (1/100));
			}

			function getTotal() {
				var commission = $("#commission").html();
				var subtotal = $("#subtotal").html();
				var total = parseFloat(commission) + parseFloat(subtotal);
				$("#total").append(total);
			}

			function init() { 
				getTheLowestAsks();
				getComission();
				getTotal();
			} window.onload = init;
	</script>
   	</head>
	<body>
		<nav>
			<a href="/buy">Buy</a>
			<a href="/sell">Sell</a>
		</nav>
			<label>Quantity:</label> <input type="text" placeholder="10" size="30" id="quantity"><label>BTC</label>
			<table>
				<tr>
					<td>
						<label>Subtotal: </label><div id="subtotal"></div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Commission: </label><div id="commission"></div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Total: </label><div id="total"></div>
					</td>
				</tr>
			</table>
		
	</body>

</html>

